.tern-project
publish.sh
# build artefacts
#Rename-it.sketchplugin/Contents/Sketch
#Rename-it.sketchplugin/Contents/Resources/_webpack_resources
#Rename-it.sketchplugin/Contents/Resources/*.js
CNAME

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store
.prettierrc
